@import url('https://fonts.googleapis.com/css?family=Monoton');
.wrapper {
  background: #FFF06A;
}
.navBar {
  background: #FFF06A;
  margin: 0 auto;
  display: flex;
  min-width: 1080px;
  max-width: 1080px;
  align-items: center;
  padding: 12px 0;
}
.logo {
  color: #343a40;
  font-family: 'Monoton', cursive;
  font-size: 1.6em;
  cursor: pointer;
}
.linkNav {
  text-decoration: none;
  color: #343a40;
}
