@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body,h1,h2,h3,h4,h5,h6,p,ul,li {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #343a40;
}
body {
  background: #F9FAFB;
  height: 100vh;
}
